.navImg{
    height: auto;
    width: 15rem;
}
.navTxt{
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;

}
.navNumber{
    color: #2A2D76;
}

/*Header section*/

.section1{
    max-width: 101.1%;
    background: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section1shadow{
  margin: 0 auto;
  padding: 40px 112px;
  background-color: rgba(0,0,0,.3);
}

.section1-txt1,.section1-Ptxt{
    color: white;
    font-family: 'Anton';
    font-weight: 400;
    text-transform: uppercase;
}

.section1-txt1{
  width: 83%;
  margin-top: 3rem;
    font-size: 3.3em;
}

.section1-Ptxt{
    width: fit-content;
    padding: 10px;
    background-color: #002992;
}

.section1-Form {
    width: 70%;
    margin: 35px auto;
    float: right;
    text-align: center;
    background-color: #FFCB05;
    padding: 9% 3%;
}

.section1-Form-title,.sectionTitle {
    text-transform: uppercase;
    color:#2A2F3C;
    font-family: 'Anton';
    font-weight: 400;
}

.from-Btn{
    font-family: 'Anton';
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

/*Form Browse Files button*/
.filupp {
    position: relative;
    background: white;
    display: block;
    padding: 5px 14px;
    font-size: 1em;
    width: 100%;
    height: 2em;
    border-radius: 0.25rem;
    color:#495057;
    cursor: pointer;
}
.filupp i {
    position: absolute;
    top: 8px;
    right: 20px;
    
}

.filupp-file-name {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/*finish*/

/* Section 2*/

.section2-row1{
  margin: 5% auto 0;
  justify-content: center;
}
.section2-col{
    margin: 0 auto;
    text-align: center;
}

.section2Icn{
  margin: 5% 0;
}
/* Section 3*/
.section3{
    max-width: 101.1%;
    background-color: #F0EAD8;
    margin-top: 3%;
    padding: 60px 0;
}

.section3-txt{
    margin: auto 0;
    padding: 0 15% 0 5%;
}
/* end*/


/* Section 4*/
.sectionTitle{
    margin: 4%;
    text-align: center;
}

.card-title{
  font-size: 14px;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.card-text p {
    position: absolute;
    top: 0;
    color: #eee;
    font-family: 'Anton';
    font-weight: 400;
    margin-top: 2rem;
    padding: 2px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-transform: uppercase;
    transition: background-color .4s ease;
  }
  
  .card-text span {
    position: absolute;
    top: 0;
    height: 67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: background-color .4s ease;
  }
  .card:hover .card-text p {
    background-color: rgba(0, 0, 0, 0.459);
  }
  /*Gradiant background on hover*/
  .card:hover .card-text span {
    background: rgba(245,245,245,0);
    background: -moz-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(157,157,157,0) 36%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,0)), color-stop(36%, rgba(157,157,157,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(157,157,157,0) 36%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(157,157,157,0) 36%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(157,157,157,0) 36%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,0) 0%, rgba(157,157,157,0) 36%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#000000', GradientType=0 );
  }
  /* end*/
  
  /*5th section*/
  .toggle {
    display: none;
  }
  
  .option {
    position: relative;
    margin-bottom: 1em;
  }
  
  .title,
  .content {
    -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all 0.2s;
  }
  
  .title {
    background: #EFF1F6;
    padding: 1em;
    display: block;
    color: #7A7572;
    font-weight: bold;
  }
  
  .title:after, .title:before {
    content: '';
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #7A7572;
    transition: all 0.2s;
  }
  
  .title:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
  }
  .content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 0.9em;
    line-height: 1.5;
  }
  
  .toggle:checked + .title, .toggle:checked + .title + .content {
    box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
  }
  .toggle:checked + .title + .content {
    max-height: 500px;
  }
  .toggle:checked + .title:before {
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
  }

  /* end */

  /* 6th section*/
  .section6Img{
    object-fit: none; 
    object-position: center; 
    width: 100%;
    max-height: 100px;
  }

  .firstImg{
    height: 100px;
  }
  /* end */

/* footer section*/
  .text-center {
    margin-top: 5%;
    padding:1px 0 60px; 
    background: #2A2F3C; 
  }

  .text-center p {
    color: #ABAFBB;
    padding:2rem 0;  
}
/* end */


  